.your-video {
    float:right;    
    bottom: 0;
    left: 0;
    min-width: 50%;
    min-height: 100%;
}

#endGameText {
    display: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: arial;
    font-size: 8em;
}

.my-video {
    float:left;    
    bottom: 0;
    left: 0;
    min-width: 50%;
    min-height: 100%;
}

body{
    background: #3f3f3f;
}

#init-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(255, 180, 0, 0);
    color: #f1f1f1;
    min-width: 100%;
    min-height: 100%;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: rgba(255, 190, 10, 1);
    color: #000000;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: rgba(255, 190, 10, 1);
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}


.btn.sharp {
    border-radius:0;
  }

#aicanvas {
    display: none;
}

#connect {
    margin-top: 750px;
    font-size: 2.5em;
}